h1.flashy {
  color:rgb(174, 17, 17);
  font-style: italic;
  text-align: center;
}

h2.flashy {
  color:rgb(174, 17, 17);
  font-style: italic;
}

h3.flashy {
  color:rgb(174, 17, 17);
  font-style: italic;
}

li.best {
  color:green;
  font-size:larger;
}

img.size {
  width: 450px;
  height: 450px;
}

p {
  font-size: 20px;
  
}
p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

p.important {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}


body { 
  background-color: bisque;
  text-align: center;
}

.important {
  color: green;
  text-align: center;
}

.unimportant {
  color: red;
  text-align: center;
}

ul {
  list-style-position: inside;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  color: red;
}

.last {
  color: mintcream;
}